/* Page style */
/* No background colour (a) for printing (b) avoids problems w/ page number */
/* Source Sans Pro is the sans-serif font used by Streamlit, but was having
issues with getting bold typeface, so switched to use default 'sans-serif' */
body {
    font-family: sans-serif;
    color: #05291F;
}
@page {
    size: A4;
    @top-right{
        content: 'Page ' counter(page) ' of ' counter(pages);
        font-family: sans-serif;
        font-size: 10px;
    }
}

/* Cover page containers */
/* With seperate one for summary as wanted different spacing */
.page {
    page-break-after: always;
}
.section_container {
    position: absolute;
    top: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.summary_cover {
    position: absolute;
    top: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Figure containers */
.responses_container {
    border-radius: 25px;
    border: 2px solid #D7D7D7;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    page-break-inside: avoid;
}
.comparison_container {
    padding: 5px;
    page-break-inside: avoid;
}

/* RAG result box */
.result_box {
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    page-break-inside: avoid;
}

/* To create columns */
.column2 {
    float: left;
    width: 48%;
    margin-right: 2%;
}
.column3 {
    float: left;
    width: 31.33%;
    margin-right: 2%;
}
.row:after {
    content: '';
    display: table;
    clear: both;
}

/* Font size */
p {
    font-size: 14px;
}
li {
    font-size: 14px;
}
.column2 p {
    font-size: 14px;
}
.column3 p {
    font-size: 14px;
}

/* Horizontal line */
hr {
    border-color: #D7D7D7;
    margin-top: 2px;
    margin-bottom: 2px;
}