/* CSS Style Sheet for Streamlit App */

/* Sidebar font color (as default is to set non-selected to more transparent */
[data-testid=stSidebarNavItems] > li > div > a > span
{
    color: #05291F;
}

/* Title */
h1
{
    text-align: center;
}

/* Columns */
/* Force columns to remain on mobile view - otherwise collapses all columns */
/* Note: This is currently based on assumption of wanting 33% col size */
[data-testid="column"] {
    width: calc(33.3333% - 1rem) !important;
    flex: 1 1 calc(33.3333% - 1rem) !important;
    min-width: calc(33% - 1rem) !important;
}

/* Expander */
div[data-testid=stExpander] > details > summary > span > div > p
{
    font-weight: bold;
}

/* Horizontal line */
div[class='stMarkdown'] > div[data-testid='stMarkdownContainer'] > hr
{
    border-color: #D7D7D7;
    margin: 0;
}

/* Text in status elements */
div[data-testid='stNotificationContentError'] > div
{
    justify-content: center;
}
div[data-testid='stNotificationContentWarning'] > div
{
    justify-content: center;
}
div[data-testid='stNotificationContentSuccess'] > div
{
    justify-content: center;
}
div[data-testid='stNotificationContentInfo'] > div
{
    justify-content: center;
}

/* Box of the status elements */
div[role='alert']:has(> div > div[data-testid='stNotificationContentError'])
{
    background-color: #FFCCCC;
}
div[role='alert']:has(> div > div[data-testid='stNotificationContentWarning'])
{
    /*background-color: #FFF5E1;*/
    background-color: #FFE8BF;
}
div[role='alert']:has(> div > div[data-testid='stNotificationContentSuccess'])
{
    /*background-color: #D1EECC;*/
    background-color: #B6E6B6;
}
div[role='alert']:has(> div > div[data-testid='stNotificationContentInfo'])
{
    background-color: #DCE4FF;
}

/* Hide the input instructions - here, because we want to remove
'press enter to apply' from the text input box */
div[data-testid='InputInstructions'] > span:nth-child(1) {
    visibility: hidden;
}

/* Responsive font size adjustment */
/* On larger screen sizes (i.e. not mobile or very narrow browser window) */
@media only screen and (min-width: 600px)
{

    /* Title */
    h1
    {
        font-size: 60px;
    }

    /* Subheader */
    h3
    {
        font-size: 30px;
    }

    /* Markdown p */
    p
    {
        font-size: 20px;
    }

    /* Markdown lists */
    div[class='stMarkdown'] > div[data-testid='stMarkdownContainer'] > ul > li
    {
        font-size: 20px;
    }

    /* Sidebar font size */
    [data-testid=stSidebarNavItems]
    {
        font-size: 25px;
    }

    /* Selectbox title */
    div[class*='stSelectbox'] > label > div[data-testid='stMarkdownContainer'] > p 
    {
        font-size: 20px;
    }

    /* Selectbox chosen option - this targets element with CLASS name as given*/
    .stSelectbox > div[data-baseweb='select'] > div
    {
        font-size: 20px;
    }

    /* Selectbox other options */
    ul[data-testid=stVirtualDropdown] > div > div > li[role='option']
    {
        font-size: 20px;
    }

    /* Expander */
    div[data-testid=stExpander] > details > summary > span > div > p
    {
        font-size: 20px;
    }

    /* Text input box label */
    div[data-testid=stTextInput] > label > div > p
    {
        font-size: 20px;
    }

    /* Radio in sidebar */
    /*div[class*='row-widget stRadio'] > label > div > p
    {
        font-size: 20px;
    }*/
}

/* Font */
/* Start with desired font, then give similar font in generic font, as fallback
if first doesnt work */
/* Commercial font, can't upload, so can't use */
/*
@font-face
{
    font-family: 'Founders Grotesk';
    src: url([URL TO FONT ON GITHUB]) format('woff2');
}
p
{
    font-family: 'Founders Grotesk', sans-serif;
}
h1, h2, h3 
{
    font-family: 'Founders Grotesk', sans-serif;
} */