# For package installation
pip==24.0

# For data processing
numpy==1.26.0
pandas==2.1.1

# To handle shapefiles and maps
geopandas==0.14.3

# To create plots
plotly==5.9.0

# To link with TiDB Cloud
PyMySQL==1.1.0

# To convert markdown text to HTML for PDF report
markdown==3.5.2

# For image export for the PDF report
kaleido==0.2.1

# To convert HTML report to PDF report
weasyprint==60.2

# For user authentication
django==4.2.9

# To run jupyter notebooks
ipykernel==6.29.0

# To create a streamlit dashboard
streamlit>=1.31.1

# To upload package to PYPI
twine==5.0.0

# To produce readthedocs
sphinx==7.2.6
sphinx-rtd-theme==2.0.0
myst-parser==2.0.0
sphinx-autoapi==3.0.0

# To generate previews of figures in notebooks
matplotlib==3.8.3